<div class="profile-container">
  <mat-card class="profile-card">
    <div class="header">
      <h2>Profile</h2>
      <button *ngIf="!isEditing" mat-icon-button color="primary" (click)="edit()" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="user.name" [disabled]="!isEditing">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" [disabled]="!isEditing">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput [(ngModel)]="user.phone" [disabled]="!isEditing">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <textarea matInput [(ngModel)]="user.address" [disabled]="!isEditing"></textarea>
    </mat-form-field>

    <mat-label>Preffered categories:</mat-label>
    <mat-selection-list [(ngModel)]="user.preferredCategories" [disabled]="!isEditing">
      <mat-list-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-list-option>
    </mat-selection-list>

    <div class="btn-container" *ngIf="isEditing">
      <button mat-raised-button color="accent" (click)="save()">Save</button>

    </div>
  </mat-card>
</div>
