mat-card.completed {
    background-color: #e8f5e9;
  }
  mat-card.canceled {
    background-color: #ffebee;
  }
  
  .cancel {
    color: white;
    background-color: #d32f2f;
  }
a {
  color: #555;
  text-decoration: none;
}
a:hover{
  color: #000;
}