<!-- navigation -->
<mat-toolbar color="primary">
  <a routerLink="" id="logo"><span class="logo">📚 BookStore</span></a>
  <a mat-button routerLink="">Catalog</a>
  <a mat-button routerLink="/cart">Cart</a>
  <a mat-button routerLink="/orders">Orders</a>
  <span class="spacer"></span>
  <a mat-button *ngIf="!userService.isLoggedIn()" routerLink="/login">Login</a>


  <button mat-icon-button routerLink="/cart" aria-label="Cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  
  <button *ngIf="userService.isLoggedIn()" mat-icon-button routerLink="/profile" aria-label="Profile">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button *ngIf="userService.isLoggedIn()" mat-icon-button (click)="logout()" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
