.spacer {
    flex: 1 1 auto;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
  }

a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

a:hover, a:active, .logo:hover {
    color: #fda50c;
}
button{
  margin: 10px;
}